# Ignore Python & R virtual environments
envs/

# Ignore log files
logs/

# Ignore backup files
backups/

# Ignore compiled files
__pycache__/
*.pyc
.Rproj.user

# Ignore .scrapy directories within scrapers
scrapers/**/.scrapy/
test.py
test2playright.py
scrapers/python/tradingeconomics_data/test(not used anywhere).csv
