pandas~=2.2.3
numpy
requests
matplotlib
seaborn~=0.13.2
yfinance
plotly
jupyter
scipy
scikit-learn
scrapy~=2.12.0
scrapyd
scrapy-impersonate
scrapy-playwright
rich~=13.9.4

openpyxl~=3.1.5
itemloaders~=1.3.2
itemadapter~=0.11.0
websockets~=15.0.1